* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b0f1a;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #070a14;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

/* Hero */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  margin-top: 10px;
  opacity: 0.8;
}

.btn {
  margin-top: 25px;
  padding: 12px 25px;
  background: #3b82f6;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
.store {
  padding: 80px 40px;
  text-align: center;
}

.store h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.product {
  background: #070a14;
  padding: 30px;
  border-radius: 12px;
}

.product h3 {
  font-size: 20px;
}

.product p {
  opacity: 0.8;
  margin: 10px 0 20px;
}

.buy {
  display: inline-block;
  padding: 12px 20px;
  background: #22c55e;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
