/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b0f1a;
  color: white;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;

  background: rgba(7, 10, 20, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.navbar nav a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.8
